@inherits LayoutComponentBase
@layout AccountLayout

<h1>Manage your account</h1>

<div>
    <h2>Change your account settings</h2>
    <hr />
    <div>
        <div class="ManageNavBarStyle">
            <ManageNavMenu />
        </div>
        <div class="ManageBodyStyle">
            @Body
        </div>
    </div>
</div>
