@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<AuthorizeView Roles="Admin">
    <Authorized>
        <h1>Welcome, Admin!</h1>
    </Authorized>
    <NotAuthorized>
        <h1>You do not have permission to access this page.</h1>
    </NotAuthorized>
</AuthorizeView>

<p>You are authenticated </p>
