@font-face {
    font-family: 'kanit-light';
    src: url('fonts/kanit-light.ttf') format('truetype');
}

html, body {
    font-family: kanit-light;
    text-align: center;
    background-image: linear-gradient(180deg, rgb(19, 43, 33) 0%, rgb(5, 64, 36) 70%);
}
h1{
    color: snow;
}
h2{
    color:snow;
    font-size: 14px
}
.checkbox{
    color: snow;
}


.button {
    background: linear-gradient(90deg, rgba(27,127,147,1) 0%, rgba(1,113,184,1) 0%, rgba(27,64,147,1) 100%);
    font-family: kanit-light;
    color: white;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    margin-bottom: 20px
}

LoginStyle btn .btn-links a{
    color: dimgrey;
}

.RegisterStyle form-label {
    color: black;
}


/*
    color: white;
    
    text-orientation: upright;
*/

.btn-links {
    color: dimgray;
}