@page "/Rides/RequestForRide"
@inject NavigationManager NavigationManager


<h1>Successfully requested for the ride</h1>
<NavLink class="nav-link" href="Rides/RequestedRideList">
    <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> RequestedRideList
</NavLink>

@code {

}
