@font-face {
    font-family: 'kanit-light';
    src: url('fonts/kanit-light.ttf') format('truetype');
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;  
    border-radius: 12px; /* Adjust the radius as needed */
    padding: 20px;
    color: #ffffff;
}

.text-container {
    align-items: center;
    margin: 10px;
    padding: 20px;
    border: 2px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.text-container-small {
    font-size: 16px;
    line-height: 1;
    height: 30%;
    width: 80%;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 15px;
    background-color: #ffffff;
}

.text-container-small pre {
    font-family: kanit-light;
    transform: translateY(+180%);
    overflow: hidden;
    
}

.text-container-large pre {
    font-family: kanit-light;
    transform: translateY(+100%)
}

.text-container-large {
    font-size: 26px;
    line-height: 2;
    height: 80%;
    width: 100%;
    border-radius: 15px;
    background-color: #ffffff;
}

.request-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transform: translateY(+200%)
}
.rounded-box {
    width: 200px;
    height: 100px;
    background-color: #3498db;
    border-radius: 15px; /* Adjust the radius as needed */
    padding: 20px;
    color: #ffffff;
}

